body {
  font-family: "Inter", serif;
  margin: auto;
  background-color: hsl(36, 100%, 99%);
  width: 100vw;
  font-weight: 400;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
}

.app {
  max-width: 1440px;
  margin: auto;
  padding: 20px;
}

nav {
  display: flex;
  align-items: center;
  padding: 30px 0;
}

nav .logo {
  flex: 1;
}

.nav__items {
  display: flex;
}

.nav__items li {
  list-style: none;
  margin-left: 30px;
}

li > a {
  text-decoration: none;
  color: hsl(236, 13%, 42%);
  font-size: 15px;
}

li > a:hover {
  color: hsl(5, 85%, 63%);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main {
  width: 70%;
}

.main__content {
  display: flex;
  justify-content: space-between;
}

.main__title {
  font-size: 2.8em;
  font-weight: 800;
  width: 50%;
  line-height: 1em;
  padding-right: 20px;
}

.main__img {
  width: 100%;
  margin-bottom: 30px;
}

.main__textcontent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  line-height: 25px;
  padding: 0 8px;
}

.main__textcontent__parag {
  font-size: 15px;
  color: hsl(236, 13%, 42%);
}

.action__btn {
  background-color: hsl(5, 85%, 63%);
  padding: 18px 30px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  border: none;
  cursor: pointer;
  transition: 0.15s;
  font-weight: 700;
  font-size: 14px;
}

.action__btn:hover {
  background-color: hsl(35, 77%, 62%);
}

.sidebar {
  background: black;
  width: 23%;
  padding: 30px 25px;
}

.news__stories {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.story {
  border-bottom: 1px solid hsl(236, 13%, 42%);
}

.story:last-child {
  border-bottom: none;
}

.sidebar h1 {
  color: hsl(35, 77%, 62%);
  font-size: xx-large;
}

.story > h4 {
  color: hsl(36, 100%, 99%);
  font-size: 18px;
  margin: 16px 0;
}

.story p {
  color: hsl(236, 13%, 42%);
  font-size: 15px;
  line-height: 1.2rem;
  padding-bottom: 24px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nav__items {
    display: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    background-color: aqua;
  }

  .main {
    width: 100%;
  }

  .main__content {
    display: flex;
    flex-direction: column;
  }

  .main__title {
    display: inline-block;
    font-size: 2.8em;
    font-weight: 800;
    width: inherit;
    line-height: 1em;
  }

  .main__img {
    width: 100%;
    margin-bottom: 30px;
    height: 400px;
  }

  .main__textcontent {
    width: 95%;
    padding-left: 0;
    line-height: 25px;
  }

  .main__textcontent__parag {
    font-size: 15px;
    color: hsl(236, 13%, 42%);
    margin: 20px 0;
  }

  .action__btn {
    background-color: hsl(5, 85%, 63%);
    padding: 18px 30px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    border: none;
    cursor: pointer;
    transition: 0.15s;
    font-weight: 700;
    font-size: 14px;
  }

  .action__btn:hover {
    background-color: hsl(35, 77%, 62%);
  }

  .sidebar {
    background: black;
    width: 100%;
    padding: 30px 25px;
    margin-top: 3rem;
  }

  .news__stories {
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }

  .story {
    border-bottom: 1px solid hsl(236, 13%, 42%);
  }

  .story:last-child {
    border-bottom: none;
  }

  .sidebar h1 {
    color: hsl(35, 77%, 62%);
    font-size: xx-large;
  }

  .story > h4 {
    color: hsl(36, 100%, 99%);
    font-size: 18px;
    margin: 16px 0;
  }

  .story p {
    color: hsl(236, 13%, 42%);
    font-size: 15px;
    line-height: 1.2rem;
    padding-bottom: 24px;
  }
}
